includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - modules/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - message: "#^Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.$#"
          paths:
            - modules/*/config/*.php

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
