name: PHPUnit Tests

on:
    pull_request:
        branches: [main]

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        timeout-minutes: 15

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Laravel Application
              uses: ./.github/actions/setup-laravel

            - name: Run tests
              run: php artisan test --parallel
